/* The animation code */
@keyframes showIcon {
    0%   {font-size: 0;}
    8%   {font-size: 2.3rem;}
    12%   {font-size: 2rem;}
    100%   {font-size: 2rem;}
  }

  .workflow-icon {
    font-size: 0;
  }

  .workflow-icon-data {
    animation-name: showIcon;
    animation-delay: 0.5s;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  
  .workflow-icon-reduction {
    animation-name: showIcon;
    animation-delay: 2.5s;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  
  .workflow-icon-results {
    animation-name: showIcon;
    animation-delay: 4.5s;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }