/* The animation code */
@keyframes showIcon {
    0%   {height: 0;}
    8%   {height: 5.8rem;}
    12%   {height: 5rem;}
    100%   {height: 5rem;}
  }

  .workflow-icon {
    height: 0;
  }

  .workflow-icon-data {
    animation-name: showIcon;
    animation-delay: 0.5s;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  
  .workflow-icon-reduction {
    animation-name: showIcon;
    animation-delay: 1.5s;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  
  .workflow-icon-results {
    animation-name: showIcon;
    animation-delay: 2.5s;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }